body {
  height: 100vh;
}

.nav {
  width: 100vw;
  display: block;
  position: fixed;
  top: 0;
}

.nav ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.nav ul li {
  list-style: none;
}

/* form start */
.form-container {
  width: 100vw;
}

.form-box {
  max-width: 33rem;
  padding: 1rem 2rem;
  margin: auto;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 8px #3197;
}

.box {
  max-width: 50rem;
  padding: 1rem 2rem;
  margin: auto;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 8px #3197;
}
.tab-con {
  width: 100%;
  display: flex;
  padding: 0.4rem 0;
  justify-content: space-between;
}

/* common*/
.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}
.tag {
  padding: 0.2rem 0.4rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.2rem;
}

.avator {
  background: green;
  display: flex;
  border-radius: 4rem;
  height: 24px;
  width: 24px;
  align-items: center;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.51rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.51rem;
}
